$mainFont: 'Slabo 27px', serif;
$bcgGreen: rgb(153, 204, 204);
$sectionGreen: linear-gradient(($bcgGreen), darken($bcgGreen,20%));
$sectionBlue: linear-gradient(rgb(24, 100, 175),rgb(95, 171, 198));

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: $mainFont;


}

@keyframes logoAnimation{
    0%{
       
    transform:scale(0);    
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform:scale(1); 

        
    }
}

header{
    z-index: 2;
    margin-right: 50px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 100px 150px;
    
    font-family: 'Amatic SC', cursive;
    transition: all 0.5s ease-in;

    span{
        width:180px;
        min-height: 180px;
        margin-left: -95px;
        margin-top: -30px;
        background-image: url("../img/logo_small.png");
        background-size: 180px;
        background-position: center;
        line-height: 100%;
        background-repeat: no-repeat;

    }

    nav{
        z-index: 1;
    }

    nav ul{
        display: flex;
        margin-right: -15px;

        li{
            margin: 0 15px; 
            list-style: none;
            a{
                
                text-decoration: none;
                color: black;
                font-size: 30px;
            }
        }
    }
}

.fixedNav{
    background: #2c3e50;
    opacity: 0.9;
    max-height: 80px;
    padding-bottom:20px;
    

    span{
        animation: logoAnimation 2s ease-in-out;
        margin-top: -40px;
        min-height: 80px;
        width:400px;
        background-image: url("../img/logo_large.png");
        background-size: 350px;
    }
   
    li{
        line-height: 100%;
    }

    li a{
        color: white;
        font-size: 28px;

    }


}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 80px;
    

    h3{
        font-size: 32px;
        margin-bottom: 30px;
    }

    p {
        font-size: 28px;
    }

    .section_introduction{

        h2{
            font-size: 40px;
        }

        p{
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 80px;
        }

    }

}

.welcome-screen{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    font-family: 'Amatic SC', cursive;
    z-index: -1;

    h1{
        font-size: 80px;
        margin-bottom: 0;
        color: darken($bcgGreen,40%);
    }
    p{
        font-size: 30px;
    }
    .btn{
        font-size:26px;
        border: 1px solid darken($bcgGreen,20%);
        border-radius: 10px;
        padding: 20px;
        margin-top:10px;
        outline: none;
        background: $sectionGreen;
        text-decoration: none;
     

    }

    .background-image{
        background-image: url(../img/main-baner.jpg);
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: -1;

    }
}

.news{

    background: $sectionGreen;
    position: relative;

    .arrowLeft{
        background: none;
        border:none;
        position: absolute;
        border-top: 4px solid red;
        border-left: 4px solid red;
        transform: rotate(-45deg);
        width: 50px;
        height: 50px;
        left: 20px;
        top: 50%;

        &:hover{
            cursor: pointer;
        }

    }
    .arrowRight{
        background: none;
        border:none;
        position: absolute;
        border-top: 4px solid ;
        border-right: 4px solid ;
        border-color: red;
        transform: rotate(45deg);
        width: 50px;
        height: 50px;
        right: 20px;
        top: 50%;
        &:hover{
            cursor: pointer;
        }

    }
    .disabledBtn{

        border-color: gray;
        
        &:hover{
            cursor: not-allowed;
        }
        
    }

    .section_content{
        display:flex;
        justify-content: space-between;
        width: 100%;

        .news_img{
            width:40%;
        }
        .news_img img{
            width:100%;
            border-radius: 10%;
        }
        .news_info{

            width: 60%;
            display: flex;
            flex-direction: column;
            padding-left: 100px;
            
            p{
                font-size: 22px;
                text-align: inherit;
                line-height: 1.5;
            }

            
        }
    }
}

.offer{
    background: $sectionBlue;

    .offer_shortcuts{
        display: flex;
        justify-content: space-between;

    
        .shortcut{
            width:33%;
            padding: 0 80px;


            img{
                padding:15px;
            }

        }
    
    }

}

.about_us{
    background: $sectionGreen;

    .about_content{
        display:flex;
        
        span{
            width:40%;

            img{
                width:100%;
                border-radius: 2%;
            }
        }
        .about_description{
            width:60%;

            p{
                font-size:21px;
                line-height: 1.5;
                margin-left: 40px;
                margin-bottom:15px;
                text-align: left;

            }

        }

    }
}

.offer_details{
    background: $sectionBlue;
    
    .offer_details_content{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        
    }

    .btnContainer{
        display: flex;
        justify-content: space-around;

        .offerBtn{
        font-size:22px;
        border: 5px solid #fbc531;    
        border-radius: 3px;
        padding: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        background: #fbc531;
        
        
        outline: none;
        text-decoration: none;
        background: transparent;

        &:hover{
            background: #fbc531;
            color:#273c75;
            
        }
        }
    }

    .offer_dynamic_content {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        background:#fbc531;
        opacity: 0.6;
        

        .offer_dynamic_content_details{
            p{
                margin-bottom:20px;

            }
        }
    }

}

.team{

    background: $sectionGreen;

    .teammates{
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .teammate{
            display:flex;
            flex-direction: column;
            width: 15%;

            h4{
                font-size: 28px;
                margin-top: 30px;
            }
     
             img{
                width: 100%;
                border-radius: 50%;

             }

            
        }
    }
}

.contact{
    background:$sectionBlue;
    .contact_content{
        width:100%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;

    }
}