$mainFont: 'Slabo 27px', serif;
$bcgGreen: rgb(153, 204, 204);
$sectionGreen: linear-gradient(($bcgGreen), darken($bcgGreen,20%));
$sectionBlue: linear-gradient(rgb(24, 100, 175),rgb(95, 171, 198));

@mixin mediaQ($arg...){
    @if length($arg) == 1{
        @media screen and (max-width: nth($arg, 1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)){
            @content;
        }
    } 
    

}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: $mainFont;



}



@keyframes logoAnimation{
    0%{
       
    transform:scale(0);    
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform:scale(1); 

        
    }
}


header{
    z-index: 2;
    margin-right: 50px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 100px 150px;
    
    font-family: 'Amatic SC', cursive;
    transition: all 0.5s ease-in;

    span{
        width:180px;
        min-height: 180px;
        margin-left: -95px;
        margin-top: -30px;
        background-image: url("../img/logo_small.png");
        background-size: 180px;
        background-position: center;
        line-height: 100%;
        background-repeat: no-repeat;

    }

    nav{
        z-index: 1;
    }

    nav ul{
        display: flex;
        margin-right: -15px;

        li{
            margin: 0 15px; 
            list-style: none;
            a{
                
                text-decoration: none;
                color: black;
                font-size: 30px;
                


                
            }
        }
    }
     @include mediaQ(1080px){
        nav ul li>a{
            font-size: 26px;
        }
     }
    @include mediaQ(900px) {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        span{
          display: none;
        }
    }
    @include mediaQ(660px){
    nav{
        display:none;
    } 
}

}

.fixedNav{
    background: #2c3e50;
    opacity: 0.9;
    max-height: 80px;
    padding-bottom:20px;
    box-shadow: 1px 6px 20px 0px rgba(0,0,0,0.58);


    

    span{
        display: inline-block;
        animation: logoAnimation 2s ease-in-out;
        margin-top: -40px;
        min-height: 80px;
        width:400px;
        background-image: url("../img/logo_large.png");
        background-size: 350px;
    }
   
    li{
        line-height: 100%;
    }

    li a{
        color:white;
        font-size: 28px;

        
    }
    
    .orangered{
        color: orange;
    }


    @include mediaQ(1170px){
        ul li>a{
            font-size: 24px;   
        }
        
    }
    @include mediaQ(1080px){
        span{
            width: 300px;
        }

        ul li>a{
            font-size: 22px;  
        }
        
        
    }
    @include mediaQ(950px){
        padding-right: 20px;
        span{
            width: 170px;
            background-size: 250px;
        }
        ul li>a{
            font-size: 20px;
        }
    }
    @include mediaQ(786px){
    
        padding-left:20px;
    nav{
        display: block;
    }
    nav ul{
        margin-right:0;
    }
    nav ul li{
        
        margin: 0 9px;
        display:flex;
       align-items: center;
       a{
            font-size: 16px;
        }
      }
        span{
            display: none;
        }
        ul li>a{
            font-size: 20px;
        }
    }
    @include mediaQ(550px){
        padding-left: 15px;

        ul li>a{
            font-size: 16px;

        }
    }


}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 80px;
    

    h3{
        font-size: 32px;
        margin-bottom: 30px;
    }

    p {
        font-size: 24px;
    }

    .section_introduction{

        h2{
            font-size: 40px;
        }

        p{
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 80px;
        }

    }
    @include mediaQ(745px){
        padding: 100px 4%;
    }

}

.welcome-screen{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    font-family: 'Amatic SC', cursive;
    z-index: 1;

    h1{
        font-size: 80px;
        margin-bottom: 0;
        color: darken($bcgGreen,40%);
    }
    p{
        font-size: 30px;
    }
    .btn{
        transition: transform 0.4s ease-in;
        font-size:26px;
        border: 1px solid darken($bcgGreen,20%);
        border-radius: 10px;
        padding: 20px;
        margin-top:10px;
        outline: none;
        background: $sectionGreen;
        text-decoration: none;
        &:hover{
            background:#487eb0;
            transform:translate(3px,3px);
            transform:scale(1.2);
            cursor: pointer;
            color: white;
            font-weight: 300;
            border-color: #487eb0;
        }

    }

    .background-image{
        background-image: url(../img/main-baner.jpg);
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: -1;

    }

}

.news{

    background: $sectionGreen;
    position: relative;

    .arrowLeft{
        z-index: 1;
        background: none;
        border:none;
        position: absolute;
        border-top: 4px solid red;
        border-left: 4px solid red;
        transform: rotate(-45deg);
        width: 50px;
        height: 50px;
        left: 20px;
        top: 50%;

        &:hover{
            cursor: pointer;
        }

    }
    .arrowRight{
        z-index: 1;
        background: none;
        border:none;
        position: absolute;
        border-top: 4px solid ;
        border-right: 4px solid ;
        border-color: red;
        transform: rotate(45deg);
        width: 50px;
        height: 50px;
        right: 20px;
        top: 50%;
        &:hover{
            cursor: pointer;
        }

    }
    .disabledBtn{

        border-color: gray;
        
        &:hover{
            cursor: not-allowed;
        }
        
    }

    .section_content{
        display:flex;
        justify-content: space-between;
        width: 100%;

        .news_img{
            width:40%;
        }
        .news_img img{
            width:100%;
            border-radius: 10%;
        }
        .news_info{

            width: 60%;
            display: flex;
            flex-direction: column;
            padding-left: 100px;
            
            p{
                font-size: 26px;
                text-align: inherit;
                line-height: 1.5;
                padding-bottom: 15px;
            }

            
        }
        @include mediaQ(1395px){
            .news_info p{
                font-size: 24px;
            }
            
        }
        @include mediaQ(1200px){
            .news_info p{
                font-size: 22px;
            }
            
        }
        @include mediaQ(1100px){
            transform: translateY(-30px);
            flex-direction: column;  
            justify-content: center;
            align-items: center;
            .news_img{
                width:70%;
            }
            .news_info{

                width: 100%;
                flex-direction: column;
                padding-left: 0;
                padding-top: 20px;
                
                p{
                    font-size: 22px;
                }
    
                
            }
             
        }
        
    }
}

.offer{
    background: $sectionBlue;

    .offer_shortcuts{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;

    
        .shortcut{
            width:33%;
            padding: 0 80px;


            img{
                padding:15px;
            }

        }
    @include mediaQ(1395px){
        .shortcut{
            p{
                font-size:20px;
            }
            h3{
                font-size:26px;
            }
            
        }

    }
    @include mediaQ(1230px){
        .shortcut{
            padding: 0 30px;
            p{
                font-size:16px;
            }
            h3{
                font-size:20px;
            }
            
        }

    }
    @include mediaQ(850px){
      flex-direction: column;
      align-items: center;
      .shortcut{
        
          width: 100%;
          padding-bottom: 30px;

          h3{
              font-size: 28px;
          }

          p{
            font-size: 22px;
          }
      }
    }
    }

}

.about_us{
    background: $sectionGreen;

    .about_content{
        display:flex;
        
        span{
            width:40%;

            img{
                width:100%;
                border-radius: 2%;
            }
        }
        .about_description{
            width:60%;

            p{
                font-size:26px;
                line-height: 1.5;
                margin-left: 40px;
                margin-bottom:15px;
                text-align: left;

            }

        }
        @include mediaQ(1620px){ 
            display: block;
              span img{
                    width:40%;
                    float: left;
                    margin:0 30px 30px;
                }
                .about_description{
                    display: inline;
                    
                }
            
            
        }
        @include mediaQ(1395px){
            .about_description p {
                font-size: 22px;
            }
        }
        @include mediaQ(950px){
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                width: 70%;
                padding-bottom: 30px;
            }
            span img{
                width:100%;
                float: none;
                margin:0;
            }
            .about_description{
                width:100%;

                p{
                    text-align: inherit;
                    font-size: 20px;
                    margin-left: 0;
                }
            }

        }
    }
}

.offer_details{
    background: $sectionBlue;
    
    .offer_details_content{
        display: flex;
        flex-direction: column;
        width: 100%;
       
        
    }

    .btnContainer{
        display: flex;
        justify-content: space-around;

        .offerBtn{
        font-size:22px;
        border: 5px solid rgb(219, 193, 202);    
        border-radius: 3px;
        color:  #ffffff8e;
        padding: 20px;
        font-weight: bold;
        letter-spacing: 1.5px;
        margin-bottom: 25px;
        outline: none;
        text-decoration: none;
        background: transparent;
        transition: all 0.25s ease-in;

        &:hover{
            background: rgb(219, 193, 202);
            color:black;
            
        }

        }

        .transformedBtn{
            transform:translateY(25px);
            background-color: rgb(219, 193, 202);;
            color: black;
            
        }
        @include mediaQ(745px){
            justify-content: space-between;
            .offerBtn{
                font-size:18px;
                padding: 15px;
            }
        }
        @include mediaQ(578px){
            .offerBtn{
                font-size:15px;
                padding: 10px;
            }
        }
        @include mediaQ(480px){
            .offerBtn{
                font-size:14px;
                padding: 8px;
    
            }
        }
        @include mediaQ(380px){
            .offerBtn{
                font-size:12px;
                padding: 6px;
                height: 60px;
    
            }
        }
        @include mediaQ(340px){
            .offerBtn{
                font-size:8px;
                padding: 3px;
                height: 40px;
                border: 2px solid rgb(219, 193, 202);
                width: 50%;
    
            } 
        }
        
        
    }

    .offer_dynamic_content {
       
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        background:rgb(219, 193, 202);
        border-radius: 10px;
        box-shadow: 10px 10px 20px -2px rgba(0,0,0,0.75);

        

        .offer_dynamic_content_details{
            h2{
                margin: 20px 0;
            }
            p{
                padding:20px;
                text-align: inherit;
                letter-spacing:1.1px;
                font-size: 26px;
                
                
            }
            i{
                color: #e74c3c;
                font-size: 20px;
            }
            ul{
                margin: 40px 0 ;
            }
            
            ul li {
                
                list-style-position: inside;
                text-align: left;
                padding-left: 15%;
                font-size: 22px;
                margin-bottom: 25px;
                color: rgb(24, 100, 175);
                
            }
            button{
                transition: all 0.5s ease;
                font-size: 24px;
                padding:16px;
                border: 2px solid  #e74c3c;
                border-radius: 20px;
                background: #e74c3c;
                outline: none;
                color: white;
                cursor: pointer;
                &:hover{
                    color: black; 
                    background: white;
                    font-weight: bold;
                }



            }
            @include mediaQ(1522px){
                p{
                    font-size:24px;
                }
                ul li {
                   font-size:20px; 
                   padding-left: 10%;

                }
                 i{
                    font-size: 18px;
          
                    
                }
            }
            @include mediaQ(1325px){
                ul li {
                    font-size: 18px;
                    padding-left: 5%;
                  
                }
            }
            @include mediaQ(1160px){
                p{
                    font-size:22px;
                }
                ul li {
                   font-size:16px; 
                   padding-left: 5%;
                   line-height: 150%;

                }
            }
            @include mediaQ(1050px){
                .dots{
                    display:none;
                }
                p{
                    text-align: inherit;
                }
                .price{
                    font-size: 24px;
                    display:block;
                    color: #336E7B;
                    font-weight: bold;
                    margin-top: 20px;
                }

            }

        }
    }

    .offer_content_hidden{
        opacity: 0;
        display: none;
    } 
}

.team{

    background: $sectionGreen;

    .teammates{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;

        .teammate{
            display:flex;
            width: 100%;
            margin-bottom: 30px;

            .teammate_introduction{
        

                h5{
                    font-size: 15px;
                    padding-top: 15px;  
                }

                img{
                    width: 200px;
                    border-radius: 50%;
    
                 }
            }

            .teammate_story{
                display:flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 30px 10px;
                
                p{
                    font-size: 24px;
                    line-height: 110%;
                    margin-bottom:15px;
                    text-align: left;
                }


            }
            .teammate_story:nth-of-type(1) p {
                text-align: right;
            }

        @include mediaQ(1450px){
            .teammate_story p {
                font-size: 22px;
            }
        }
        @include mediaQ(1250px){
            flex-direction: column;

            .teammate_introduction{
                padding-bottom: 50px;
                order: -1;
            }
            .teammate_story p {
                text-align: inherit;
            }
            .teammate_story:nth-of-type(1) p{
                text-align: inherit;
            }
            

        }
        @include mediaQ(550px){
            .teammate_story p{
                font-size: 20px;
            }
        }

        }
    }
}

.contact{
    background:$sectionBlue;
    .contact_content{
        padding-top: 50px;
        width:100%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        .contact_details p>a{
            color: black;
        }


        @include mediaQ(1200px){
            flex-direction: column;

            .contact_map{
                width:100%;
                order: 1;
                margin-top: 50px;
            }
        }
        @include mediaQ(650px){
            .contact_map iframe {
                width: 400px;
                height: 300px;
            }
            .contact_details p {
                font-size: 22px;
            }
            
        }
        @include mediaQ(450px){
            .contact_map iframe {
                width: 300px;
                height: 250px;
            }
            .contact_details p {
                font-size: 20px;
            }
        }

    }
}
footer {
    display: flex;
    flex-direction: column;
    background-color: #336E7B;
    justify-content: space-around;
    padding-top:20px;
    line-height: 200%;

    .footer_info{
        display:flex;
        justify-content: space-around;

        .footer_info_unit ul li>a {
            cursor: pointer;
            &:hover{
                color: #fbc531;
            }
        }
        li,p{
            color: white;
            font-size: 18px;
            list-style-type: none;
            padding-left: 20px;
        }
        .footTitle{
            color: orange;
            margin-bottom: 10px;
            font-size: 20px;
            border-bottom: 1px solid #019875;
        }
        a{
            color: white;
            font-size:16px;
            text-decoration: none;
            &:hover{
                color: #fbc531;
            }

            
        }
        .footer_logo{
            background-image: url("../img/logo_small.png");
            background-size:100%;
            height: 150px;
            width:150px;
            background-position: center;
            line-height: 100%;
            background-repeat: no-repeat;

        
            
        }
        .fb-page{
            width: 280px;
        }
        @include mediaQ(1060px){
        flex-wrap: wrap;
            .footer_info_unit{
              width: 50%;
              padding-bottom: 20px;
              .footTitle,p{
                  padding-left: 20px;
              }
              .footTitle_contact{
                  width:45%;
              }
            }
            .footer_logo{
                margin:20px 0;
            }
        }
    
        @include mediaQ(590px){
            flex-direction: column;
            .footer_info_unit{
                width:100%;  
            .footTitle_contact{
                 width:100%;
                }  
 
            }

            .footer_logo{
                align-self: center;
            }
            .fb-page{
                padding: 0 20px;

            }
            
        }
    }
    .footer_credits{
        color: white;
        text-align:center;
         margin:0 auto;
         font-size: 14px;
         @include mediaQ(412px){
            font-size:11px;
         }
       
    }

}
